address.text-center
  strong 125 N Narberth Ave<br>
  strong Narberth, PA 19072<br>
  |610-668-1688<br>
  |610-668-8119
table.table.times.center-block
  tbody
    - @times.map do |t|
      tr
        th.text-right = t.day_of_week
        td = t.open_time.blank? ? "Closed" : "#{t.open_time.strftime('%l %P')} - #{t.closed_time.strftime('%l %P')}"
        - if Time.current.strftime('%a') == t.day_of_week && t.open_time.present?
          - hour_now = Time.current.strftime('%k').to_i
          - if hour_now >= t.open_time.hour && hour_now < t.closed_time.hour
            th.text-success = "Open now"
          - else
            th.text-danger = "Closed now"
.text-center <strong>We accept these cards with orders over $10:</strong>
#cards.center-block