.text-center style="padding: 10px"
  = "Replacing White Rice with Brown Rice = $1.00"
  br
  .glyphicon.glyphicon-fire
  = " = Hot & Spicy"

- @food_categories.map do |fc|
  h3.jumbotron id="#{fc.anchor}" style="cursor: pointer; background-color: #{fc.color}"
    = fc.category
    - if fc.extra.present?
      =< "(#{fc.extra})"
    - if fc.desc.present?
      br
      small == fc.desc
  table.table.table-condensed.table-hover
    tbody
      - if fc.foods.pluck(:smprice).any?
        tr.sm-lg
          td
          td
          td.text-right.text-danger style="padding-right: 7px" = "Sm."
          td.text-right.text-danger style="padding-right: 10px" = "Lg."
      - fc.foods.map do |f|
        tr%modal data-target="#food-item"
          td width="50px" = f.food_id + '.'
          *(f.smprice.present? ? {tag: "td"} : {tag: "td colspan\=2"})
            = f.name
            - if f.is_spicy
              .glyphicon.glyphicon-fire
            - if f.desc.present?
              br
              small.text-muted == f.desc
          - if f.smprice.present?
            td.text-right style="width: 50px" = number_to_currency(f.smprice)
          td.text-right style="width: 60px" = number_to_currency(f.lgprice)

#food-item.modal.fade@dialog tabindex="-1" aria-labelledby="food-item" aria-hidden="true"
  .modal-dialog@document
    .modal-content
      = bootstrap_form_for(@food, remote: true) do |f|
        .modal-header
          h4#food-item.modal-title
        .modal-body
          = f.number_field :quantity, label: "How many?", value: 1, min: 1, placeholder: "0"
          = f.form_group :name, class: "choice", label: { text: "Which one?" } do
            = f.radio_button :name, 0, label: "0", checked: true
            = f.radio_button :name, 1, label: "1"
          = f.text_area :request, label: "Any special request?"
        .modal-footer
          = f.button "Cancel", class: "btn btn-default", type: "button", data: { dismiss: "modal" }
          = f.submit "Done", class: "btn btn-primary done", data: { dismiss: "modal" }
