nav.navbar.navbar-default.navbar-fixed-top@navigation
	.container
 		/ Brand and toggle get grouped for better mobile display
		.navbar-header
			button.navbar-toggle.collapsed&button%collapse data-target="#navbar-collapse-1"
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			= link_to "", root_path, class: "navbar-toggle navbar-link glyphicon glyphicon-shopping-cart hidden checkout"
			= link_to "China King", root_path, class: "navbar-brand"

		/ Collect the nav links, forms, and other content for toggling
		#navbar-collapse-1.collapse.navbar-collapse
			ul.nav.navbar-nav
				li.dropdown
					a.dropdown-toggle@button%dropdown aria-haspopup="true" aria-expanded="false"
						| Menu
						span.caret
					ul.dropdown-menu
						- @food_categories.map do |f|
							li = link_to f.category, "##{f.anchor}"
				li = link_to "Show all", "#showall"
				li = link_to "Hide all", "#hideall"
			ul.nav.navbar-nav.navbar-right
				li = link_to "Order selected", root_path, class: "hidden checkout"