// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 50px;
  background-color: #FFFEEE;
  margin: 0 auto;
}

address {
  font-size: 140%;
}

h3, p.text {
  margin: 0;
}

textarea {
  resize: vertical;
}

label.required:after {
  content:" *";
}

a.glyphicon-shopping-cart {
  text-decoration: none;
}

.contents {
  float: none;
  margin: 0 auto;
  max-width: 600px;
  padding-bottom: 20px;
}

.table-hover {
  background-color: white;
  margin-bottom: 0;
  border-bottom: 1px solid #DDDDDD;

  tr:not(.sm-lg) {
    cursor: pointer;
  }

  tr.sm-lg:hover {
    background-color: white;
  }
}

.times {
  position: relative;
  left: 25px;
  width: 250px;

  th, td {
    padding: 1px 8px !important;
    line-height: 1 !important;
    border-top: 0 !important;
  }
}

.anchor {
  position: relative;
  top: 50px;
  height: 50px;
}

.jumbotron {
  padding: 10px;
  text-align: center;
  margin: 0;
  border-radius: 0 !important;
}

.announcement {
  background-color: #EEEDDD;
  word-wrap: break-word;
  border-radius: 0;

  h3 {
    margin-bottom: 10px;
  }
}

.footer {
  position: relative;
  height: 50px;
  border-top: 1px solid #DDDDDD;
  text-align: center;
  line-height: 50px;
}

#logo {
  position: relative;
  background: asset-url('ck-logo.png') no-repeat center bottom;
  background-size: 100%;
  width: 350px;
  height: 279px;
}

#cards {
  position: relative;
  background: asset-url('ck-cards.png') no-repeat center;
  background-size: 100%;
  width: 320px;
  height: 50px;
}

@media (max-width: 768px) {
  .contents {
    max-width: none;
  }
}

@media (max-width: 360px) {
  address {
    font-size: 100%;
  }

  #logo {
    width: 250px;
    height: 200px;
  }

  #cards {
    width: 200px;
    height: 32px;
  }
}