doctype html
html
	head
		meta name="viewport" content='user-scalable=no, width=device-width'
		title China King
		/ iOS
		= favicon_link_tag "apple-icon-57x57.png", rel: "apple-touch-icon", type: "image/png", sizes: "57x57"
		= favicon_link_tag "apple-icon-60x60.png", rel: "apple-touch-icon", type: "image/png", sizes: "60x60"
		= favicon_link_tag "apple-icon-72x72.png", rel: "apple-touch-icon", type: "image/png", sizes: "72x72"
		= favicon_link_tag "apple-icon-76x76.png", rel: "apple-touch-icon", type: "image/png", sizes: "76x76"
		= favicon_link_tag "apple-icon-114x114.png", rel: "apple-touch-icon", type: "image/png", sizes: "114x114"
		= favicon_link_tag "apple-icon-120x120.png", rel: "apple-touch-icon", type: "image/png", sizes: "120x120"
		= favicon_link_tag "apple-icon-144x144.png", rel: "apple-touch-icon", type: "image/png", sizes: "144x144"
		= favicon_link_tag "apple-icon-152x152.png", rel: "apple-touch-icon", type: "image/png", sizes: "152x152"
		= favicon_link_tag "apple-icon-180x180.png", rel: "apple-touch-icon", type: "image/png", sizes: "180x180"
		= favicon_link_tag "apple-icon-precomposed.png", rel: "apple-touch-icon-precomposed", type: "image/png"
		/ Android
		= favicon_link_tag "android-icon-192x192.png", rel: "icon", type: "image/png", sizes: "192x192"
		/ Web
		= favicon_link_tag "favicon-16x16.png", rel: "icon", type: "image/png", sizes: "16x16"
		= favicon_link_tag "favicon-32x32.png", rel: "icon", type: "image/png", sizes: "32x32"
		= favicon_link_tag "favicon-96x96.png", rel: "icon", type: "image/png", sizes: "96x96"
		/ Chrome
		= favicon_link_tag "manifest.json", rel: "manifest"
		/ Windows
		meta name="msapplication-TileColor" content="#ffffff"
		meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png"
		meta name="theme-color" content="#ffffff"
		= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
	body
		== yield